body {
  color: #252527 !important;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f5f6 !important;
  font-size: 13px;
}

p {
  line-height: 20px;
}

p small {
  color: #5d5d66 !important;
  line-height: 14px !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0 !important;
}

h2 {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 20px !important;
  margin-bottom: 15px !important;
}

h3 {
  font-size: 18px !important;
  font-weight: bold !important;
  margin-bottom: 15px !important;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
  line-height: 20px !important;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

a {
  color: #3b73b9;
}

table a {
  color: #0F3678 !important;
}

a[role="button"] {
  text-decoration: none !important;
}

td {
  line-height: 15px !important;
  color: #252527 !important;
}

td, th {
  font-size: 13px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol,
ul {
  padding-left: 25px;
}

ol li,
ul li {
  line-height: 20px;
  margin-bottom: 2px;
}

pre {
  background-color: #f5f5f5;
  padding: 9px;
  overflow: auto;
}

em {
  font-style: oblique;
}

.toast {
  margin-top: 50px;
}

label {
  font-size: 12px;
  font-weight: bold;
}

input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 35px !important;
  border-radius: 2px;
}

select {
  width: 100%;
}

table {
  width: 100%;
}

.html-text h2,
.html-text h3,
.html-text h4 {
  margin-bottom: 10px !important;
  line-height: 20px !important;
}

.bp3-card {
  padding-bottom: 10px !important;
  margin-bottom: 20px !important;
}

.bp3-callout {
  font-size: 13px !important;
  padding-bottom: 1px !important;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.content {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 1160px;
}

.subcontent {
  margin-top: 10px;
}

.header {
  background-color: #202B33 !important;
  height: 60px !important;
}

.header,
.header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header__wrapper {
  margin: 0 auto;
  padding-top: 5px;
  max-width: 1160px;
}

.header__title {
  margin-left: 10px;
  margin-right: 0;
  font-size: 23px !important;
  width: 500px;
}

.header__subtitle {
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
  width: 350px;
}

.header__logo {
  height: 40px;
  margin-right: 10px;
}

.header__flag {
  height: 16px;
  margin-top: -5px;
  margin-right: 2px;
}

@media only screen and (max-width: 1024px) {
  .header-right {
    display: none !important;
  }
}

.menubar {
  width: 100%;
  height: 45px;
  background-color: white;
  box-shadow: 0 1px 1px #f4f5f6;
}

.menubar__content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.menubar__content * :focus {
  outline: none;
}

.menubar__content .bp3-tab {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0;
  line-height: 45px;
  height: 45px;
  color: #444751;
}

.menubar__content .bp3-tab[aria-selected="true"] {
  font-weight: 600;
  background-color: #fbfbfb;
  color: #252527;
  box-shadow: inset 0 -3px 0 #444751;
}

.menubar__content .bp3-tab-indicator-wrapper {
  height: 45px !important;
  z-index: 1;
}

.menubar__content .bp3-tab-indicator {
  background-color: #444751;
}

.medal--gold {
  background-color: #ffee55;
}

.medal--silver {
  background-color: #cccccc;
}

.medal--bronze {
  background-color: #b87838;
}

.section {
  margin-bottom: 10px;
  margin-right: 10px;
}

.section-cell {
  width: 50%;
  padding: 5px;
}

.col-centered {
  text-align: center;
}

.col-order {
  width: 40px;
}

.col-rank {
  width: 40px;
  text-align: center;
}

.col-competition-short {
  width: 85px;
}

.col-batch {
  width: 85px;
  text-align: center;
}

.col-province {
  width: 150px;
}

.col-score {
  width: 40px;
  text-align: right;
}

.col-medal {
  width: 85px;
}

.col-medals {
  width: 50px;
  text-align: center;
}

.col-id-contestants {
  width: 150px;
  text-align: center;
}

.col-new-competition {
  border-top: 1.5px solid gray !important;
}

.statistics-province-summary {
  margin-bottom: 30px;
  max-width: 250px;
}

.statistics-person-summary {
  margin-bottom: 30px;
  max-width: 600px;
}

.col-statistics-person-medal {
  font-size: 20px !important;
  text-align: center;
}

.table-competition-info {
  max-width: 600px !important;
}

.home-card {
  height: 150px;
  background-color: rgba(217, 130, 43, 0.15) !important;
}

.home-footer {
  margin-bottom: 0px;
}

.col-preparation-name {
  width: 300px;
}

.col-preparation-by {
  width: 150px;
}

.col-archive-year {
  width: 200px;
}
